<div id="<%= dom_id student %>">
  <p>
    <strong>Indeks:</strong>
    <%= student.indeks %>
  </p>

  <p>
    <strong>Imie:</strong>
    <%= student.imie %>
  </p>

  <p>
    <strong>Nazwisko:</strong>
    <%= student.nazwisko %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= student.group.nazwa %>
  </p>

</div>
