<div id="<%= dom_id course %>">
  <tr>
    <td><%= course.nazwa %></td>
    <td></td>
    <td><%= link_to "Edit this course", edit_course_path(course), class: "btn btn-sm btn-primary" %></td>
    <td><%= button_to "Destroy this course", course, method: :delete, class: "btn btn-sm btn-danger" %></td>
  </tr>
  <tr class="table-info">
    <td colspan="4">Zapisane grupy</td>
  </tr>
  <% course.groups.each do |g| %>

      <tr class="table-info">
        <td colspan="3">
          <%= turbo_frame_tag 'Oceny_'+g.id.to_s do %>
          <%= g.nazwa %>
        </td>
        <td><%= link_to "Oceny", grade_course_path(course.id, g.id) , data:{ turbo_frame: 'Oceny_'+g.id.to_s}, class: "btn btn-sm btn-primary" %>
          <% end %>
        </td>
      </tr>

  <% end %>
</div>

