<h1> <%= @course.nazwa %> </h1>
<h2> Grupa: <%= @group.nazwa %></h2>

<table class="table tbale-sm">
  <thead>
    <th>Student</th>
    <th>Oceny</th>
    <th>Data</th>
    <th></th>
  </thead>
  <tbody>
    <% @group.students.each do |s|%>
      <tr>
        <td><%= s.i_n %></td>
        <td colspan="2">
          <table class="table table-sm">
            <% s.grades.where(course_id: @course.id).each do |o| %>
              <tr>
                <td><%= o.ocena %></td>
                <td><%= o.data %></td>
              </tr>
            <% end %>
          </table>
        </td>
        <td><%= link_to "Edytuj oceny", grade_course_student_path(@course.id, @group.id, s.id), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to courses", courses_path , class: "btn btn-sm btn-primary"%>