<h1> <%= @course.nazwa %> </h1>
<h2> Grupa: <%= @group.nazwa %></h2>
<%= turbo_frame_tag 'Oceny_'+@group.id.to_s do %>
<table class="table table-sm">
  <thead>
    <th>Student</th>
    <th>Oceny</th>
    <th>Data</th>
    <th></th>
  </thead>
  <tbody>
    <% @group.students.each do |s|%>
      <tr>
        <td><%= s.i_n %></td>
        <td colspan="2">
          <%= turbo_frame_tag 'GS_'+@course.id.to_s+'_'+@group.id.to_s+'_'+s.id.to_s do %>
          <table class="table table-sm">
            <% s.grades.where(course_id: @course.id).each do |o| %>
              <tr>
                <td><%= o.ocena %></td>
                <td><%= o.data %></td>
              </tr>
            <% end %>
          </table>
        </td>
        <td><%= link_to "Edytuj oceny", grade_course_student_path(@course.id, @group.id, s.id), data: {turbo_frame: 'GS_'+@course.id.to_s+'_'+@group.id.to_s+'_'+s.id.to_s}, class: "btn btn-sm btn-primary" %>
          <%= link_to "Back to courses", courses_path , class: "btn btn-sm btn-primary"%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to "Back to courses", courses_path , class: "btn btn-sm btn-primary"%>