
<%= turbo_frame_tag 'Oceny.'+@course.id.to_s+'.'+@group.id.to_s do %>

  <div class="row mt-1" style="background-color: #e3f2fd">
    <div class="col-10 "><%= @group.nazwa %></div>
    <div class="col-2">
      <%= link_to "Back to courses", courses_path , class: "btn btn-sm btn-primary"%>
    </div>
  </div>

    <% @group.students.each do |s|%>
    <%= turbo_frame_tag 'GS_'+@course.id.to_s+'_'+@group.id.to_s+'_'+s.id.to_s do %>
    <div class="row">
      <div class="col-4"><%= s.i_n %></div>
      <div class="col-4">
          <ul class="list-group">
            <% s.grades.where(course_id: @course.id).each do |o| %>
              <li class="list-group-item">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item"><%= o.ocena %></li>
                  <li class="list-group-item">data:<%= o.data %></li>
                </ul>
              </li>
          <% end %>
          </ul>
      </div>
      <div class="col-2">
        <%= link_to "Edytuj oceny", grade_course_student_path(@course.id, @group.id, s.id), data: {turbo_frame: 'GS_'+@course.id.to_s+'_'+@group.id.to_s+'_'+s.id.to_s}, class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
    </div>
    <% end %>
  <% end %>