<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<%= turbo_frame_tag "Courses" do %>

<div class="row">
  <div class="col"><strong>Nazwa</strong></div>
</div>

        <% @courses.each do |course| %>
            <%= render course %>
        <% end %>


<div class="row" style="background-color: #DADADA">
  <div class="col-12">
    <%= turbo_frame_tag "CourseNew" do %>
      <%= render "form", course: Course.new %>
    <% end %>
  </div>




<% end %>
